@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

html, body {
    font-family: 'Ramaraja', serif;
    margin: 0;
    padding: 0;
}

#windowOne {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: aliceblue;
}

#missonContainer {
    margin: 120px 0 0 0;
    width: 30%;
    overflow-y: scroll;
}

#siteTitle {
    margin: 0;
    padding: 0;
    font-size: 35pt;
    display: flex;
    justify-content: center;
}

.statementLabel {
    margin: 5px;
    padding: 0;
    font-size: 30pt;
    display: flex;
    justify-content: center;
}

.siteInfo{
    margin: 0 25px 0 25px;
    padding: 0;
    font-size: 25pt;
    display: flex;
    justify-content: center;
}

#adoptListContainer {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(185, 185, 185);
    width: 70%;
    text-align: center;
    overflow-y: scroll;
}

#adoptList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
    margin: 0;
    padding: 5px;
}

.card {
    margin: 5px;
    background-color: aliceblue;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

.card-image {
    margin: 0;
    padding: 0;
    height: 180px;
}

.card-title {
    margin: 0;
    padding: 0;
    font-size: 18pt;
}

.card-subtitle {
    margin: 0;
    padding: 0;
    font-size: 15pt;
}

.adoptButton {
    background-color: rgba(255, 231, 94, 0.377);
    margin: 10px;
    height: 35px;
    width: 105px;
}

.adoptionButtonLink {
    font-size: 15pt;
    color: black;
    text-decoration: none;
}

#windowTwo {
    background-color: rgba(229, 229, 226, 0.534);
    margin: 0;
    padding: 80px 0 0 0;
    display: flex;
    width: auto;
    height: auto;
}

#selectLabel {
    margin: 70px 10px 0 25px;
    padding: 0;
    text-align: center;
    height: 50px;
    width: auto;
    font-size: 20pt;
    position: absolute;
}

    #pokeSelect {
        margin: 115px 10px 0 25px;
        height: 75px;
        width: auto;
        font-size: 20pt;
        text-align: center;
    }

#pokeInfo {
    background-color: rgb(168, 168, 168);
    margin: 0 0 0 50px;
    padding: 0;
    height: 850px;
    width: 40%;
    border-radius: 5px;
}

    #pokeName {
        width: 300px;
        padding: 0;
        font-size: 35pt;
        margin: 0 0 0 37%;
        height: 50px;
    } 

    #pokePicsContainer {
        background-color: gray;
        padding: 0;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
        grid-gap: 1px;
    }

    .pokePic{
        text-align: center;
        margin: auto;
        width: 210px;
        object-fit: contain;
    }

    #generalInfo {
        padding: 0;
        height: 250px;
        font-size: 25pt;
    }

    .generalInfoP {
        margin: 5px 0 0 0;
        padding: 15px;
        text-align: center;
    }

#adoptionFormContainer {
    text-align: center;
    font-size: 20pt;
    background-color: rgb(168, 168, 168);
    margin: 0 0 50px 50px;
    padding: 0;
    height: 850px;
    width: 600px;
    border-radius: 5px;
}

    #adoptionForm {
        background-color: rgb(168, 168, 168);
        margin: 5px 25px 0 25px;
        border-radius: 5px;
        height: 750px;
    }
    
    #adoptFormLabel {
        margin: 0;
        padding: 0;
        font-size: 30pt;
        text-decoration: underline;
    }

    #selectedPokemon {
        margin: 0;
        padding: 0;
        font-size: 28pt;
    }

    .adoptionFormInput {
        border: none;
        border-radius: 3px;
        border-bottom: solid black 1px;
        width: 300px;
        font-size: 15pt;
    }

    #detailedAdoptInfo {
        margin: 15px;
    }

    #currentPokemon {
        width: 50px;
    }

    #adoptionReason {
        border-radius: 3px;
        font-size: 15pt;
    }

    #adoptSubmitButton {
        margin: 0;
        padding: 0;
        font-size: 18pt;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        background-color: blanchedalmond;
    }

/* ------------------ Phone styling below ------------------ */
@media (max-width: 450px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    #windowOne {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
    }

    #missonContainer {
        width: 100vw;
    }
    
    #adoptListContainer {
        margin: auto;
        width: 90%;
    }

    #adoptList {
        margin: auto;
        padding: 0;
        width: 95vw;
    }
    

    #windowTwo {
        background-color: rgba(229, 229, 226, 0.534);
        margin: 0;
        padding: 20px 0 0 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #selectLabel {
        font-size: 25pt;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }
    
    #pokeSelect {
        margin: 35px auto;
        padding: 0;
        font-size: 25pt;
        width: 90%;
        height: 20%;
    }

    #pokeInfo {
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    #pokeName {
        margin: 0 0 0 25%;
        padding: 0;
        width: auto;
    }

    #generalInfo {
        width: auto;
        margin: 0;
        padding: 0;

    }

    .generalInfoP {
        margin: 0;
        padding: 0;
        
    }

    #adoptionFormContainer {
        margin: 10px 0 0 0;
        padding: 0;
        height: auto;
        width: 99%;
    }

    #adoptionForm {
        height: auto;
    }

    #selectedPokemon {
        margin: 0;
        padding: 0;
    }

}